<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/DNNToolBox/Net-Trim" class="btn"> Latest Github Code</a>
  <a href="https://arxiv.org/pdf/1806.06457.pdf" class="btn"> Read 2018 Paper</a>
  <a href="https://papers.nips.cc/paper/6910-net-trim-convex-pruning-of-deep-neural-networks-with-performance-guarantee" class="btn"> Read 2017 Paper</a>
  <a href="https://github.com/DNNToolBox/Net-Trim-v1" class="btn">Old Github Code</a>
</section>
